.chat_div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131324;
    color: white;
  }
  .chat_border {
    padding: 5px;
  }
  .chat_input {
    height: 4rem;
    width: 15rem;
    padding: 5px;
  }
  .chat_button {
    height: 4rem;
    width: 8rem;
    margin: 10px;
    color: white;
    background-color: #4e0eff;
  }
  .chatProfileRight {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
    margin-bottom: 5px;
  }
  .chatProfileLeft {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .chatProfileSpan {
    background-color: rgb(213, 213, 182);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

.msgStyle{
  background-color: #18054c;
  padding: 20px;
  font-weight: 300;
  font-size: 14px;
}